<div class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href=""> Apropos de Nous </a>
        </li>
        <li>
          <div class="button-container">
            <button href="#" class="btn btn-info btn-icon btn-round">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button href="#" class="btn btn-info btn-icon btn-round">
              <i class="fab fa-twitter"></i>
            </button>
            <button href="#" class="btn btn-info btn-icon btn-round">
              <i class="fab fa-google-plus-g"></i>
            </button>
          </div>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{ test | date: "yyyy" }}, Designed and Coded by
      <a href="" style="color: rgb(58, 58, 244)" target="_blank"
        ><em>D²B².Sarl</em></a
      >.
    </div>
  </div>
</div>
