<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a href="#" class="simple-text logo-normal">
    <em>Locasite</em>
  </a>
</div>
<div class="sidebar-wrapper">
  <div class="d-flex mt-4" *ngIf="!connected">
    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 col-xs-6">
      <i class="now-ui-icons users_circle-08" style="font-size: 1.9rem"></i>
    </div>

    <div
      class="col-lg-10 ml-2 col-md-9 col-sm-8 col-xs-6 col-xs-6"
      style="font-size: 0.7rem"
    >
      <p style="margin-bottom: 0%">vous n'ètes pas connecté ?</p>
      <p>
        <a routerLink="/login" style="color: rgb(58, 58, 244)"> Se connecter</a>
        |
        <a routerLink="/login" style="color: rgb(58, 58, 244)"
          >Créer un compte</a
        >
      </p>
    </div>
  </div>
  <ul class="nav">
    <li ngbDropdown>
      <a id="dropdownBasic1" ngbDropdownToggle>
        <i class="now-ui-icons travel_info"></i>
        <span>Aide</span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
      >
        <a routerLink="" class="dropdown-item"> <p>Comment ça marche ?</p></a>
        <a routerLink="" class="dropdown-item"> <p>Questions</p></a>
        <a routerLink="" class="dropdown-item">
          <p>Conditions d'utilisation</p></a
        >
        <a routerLink="" class="dropdown-item"> <p>Contactez-nous</p></a>
      </div>
    </li>
    <li ngbDropdown>
      <a id="dropdownBasic1" ngbDropdownToggle>
        <i class="now-ui-icons business_globe"></i>
        <span>Langue</span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
      >
        <a class="dropdown-item">
          <img
            class="img-rounded"
            width="25"
            height="25"
            src="./assets/img/8.png"
          />
          <em class="ml-3">Français</em></a
        >
        <a class="dropdown-item"
          ><img
            class="img-rounded"
            width="25"
            height="25"
            src="./assets/img/7.png"
          />
          <em class="ml-3">Anglais</em>
        </a>
      </div>
    </li>
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]" *ngIf="menuItem.visible">
        <i class="now-ui-icons {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
